<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <%- include('_metatags.ejs') %>
    <%- include('_stylesheets.ejs') %>
    <%- include('_javascript.ejs') %>
</head>
<body>
    <header>
        <%- include('_menu.ejs') %>
    </header>
    <main>
        <div class="container">
            <h1 class="header">Small Cloud</h1>
            <div class="divider"></div>
            <div class="section"></div>
        </div>
    </main>
    <%- include('_footer.ejs') %>
</body>
</html>
