<!DOCTYPE html>
<html>
<head>
    <title>VM Details</title>
    <%- include('_metatags.ejs') %>
    <%- include('_stylesheets.ejs') %>
    <%- include('_javascript.ejs', { script: 'details' }) %>
</head>
<body>
    <header>
        <%- include('_menu.ejs') %>
    </header>
    <main>
        <div class="container">
            <h1 class="header">VM Details</h1>
            <div class="divider"></div>
            <div class="section"></div>
        </div>
    </main>
    <%- include('_footer.ejs') %>
</body>
</html>
